## import packages, load txt files and convert to csv files

In [1]:
import pandas as pd
import numpy as np
import csv
import glob
import re

## files

- cands 
- cmtes 
- indivs
- pacs_other
- pacs

## (a). cands

In [2]:
# read cands txt files
read_cands = glob.glob("fin_data/cands*.txt")
read_cands

['fin_data/cands00.txt',
 'fin_data/cands02.txt',
 'fin_data/cands04.txt',
 'fin_data/cands06.txt',
 'fin_data/cands08.txt',
 'fin_data/cands10.txt',
 'fin_data/cands12.txt',
 'fin_data/cands14.txt',
 'fin_data/cands90.txt',
 'fin_data/cands92.txt',
 'fin_data/cands94.txt',
 'fin_data/cands96.txt',
 'fin_data/cands98.txt']

In [3]:
# write a cands csv file
n=0
with open('fin_data/cands_all.csv', 'w') as outfile:
    for fname in read_cands:
        with open(fname) as infile:
            for line in infile:
                outfile.write(line)
                n += 1

In [4]:
n

62739

In [5]:
cands_all = pd.read_csv("fin_data/cands_all.csv", quotechar='|', header= None)
np.shape(cands_all)

(62739, 12)

In [6]:
cands_all.to_csv("fin_data/cands_all.csv", index=False)

In [7]:
pd.read_csv("fin_data/cands_all.csv").head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,2000,H8MN08027,N00004523,Jerry Shuster (R),R,MN08,,,,,RN,
1,2000,H8MO01119,N00005009,Richmond A Soluade Sr (R),R,MO01,,,Y,O,RL,
2,2000,H8MO01127,N00005073,Richard E Illyes (L),L,MO01,,,,,3N,
3,2000,H8MO02125,N00005015,John A Holmes Jr (R),R,MO02,,,,,RN,
4,2000,H8MO02133,N00005078,Brian K Lundy (L),L,MO02,,,,,3N,

## (b). cmtes

In [8]:
read_cmtes = glob.glob("fin_data/cmtes*.txt")
read_cmtes

['fin_data/cmtes00.txt',
 'fin_data/cmtes02.txt',
 'fin_data/cmtes04.txt',
 'fin_data/cmtes06.txt',
 'fin_data/cmtes08.txt',
 'fin_data/cmtes10.txt',
 'fin_data/cmtes12.txt',
 'fin_data/cmtes14.txt',
 'fin_data/cmtes90.txt',
 'fin_data/cmtes92.txt',
 'fin_data/cmtes94.txt',
 'fin_data/cmtes96.txt',
 'fin_data/cmtes98.txt']

In [10]:
# write a cmtes csv file
n=0
with open('fin_data/cmtes_all.csv', 'w') as outfile: #encoding = "ISO-8859-1"/"utf-8"
    for fname in read_cmtes:
        with open(fname, encoding = "ISO-8859-1") as infile:
            for line in infile:
                outfile.write(line)
                n+=1

In [11]:
n

139549

In [12]:
cmtes_all = pd.read_csv("fin_data/cmtes_all.csv", quotechar='|', header= None)
np.shape(cmtes_all)

(139549, 14)

In [13]:
cmtes_all.to_csv("fin_data/cmtes_all.csv", index=False)
pd.read_csv("fin_data/cmtes_all.csv").head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2000,C00000042,Illinois Tool Works,NaN,Illinois Tool Works,C00000042,PB,NaN,NaN,M2300,Hoovers,N,0,1
1,2000,C00000059,Hallmark Cards,NaN,Hallmark Cards,C00000059,PB,NaN,NaN,C1400,Hoovers,N,0,1
2,2000,C00000125,Archer for Congress Cmte,NaN,Archer for Congress Cmte,N00005822,RI,H6TX07029,R,Z1100,Rept,N,0,1
3,2000,C00000372,Maintenance of Way Employees,NaN,Maintenance of Way Employees,C00000372,PL,NaN,NaN,LT400,AFP88,N,0,1
4,2000,C00000422,American Medical Assn,American Medical Assn,American Medical Assn,C00000422,PB,NaN,NaN,H1100,AFP88,N,0,1

## (c). indivs

In [14]:
read_indivs = glob.glob("fin_data/indivs*.txt")
read_indivs

['fin_data/indivs00.txt',
 'fin_data/indivs02.txt',
 'fin_data/indivs04.txt',
 'fin_data/indivs06.txt',
 'fin_data/indivs08.txt',
 'fin_data/indivs10.txt',
 'fin_data/indivs12.txt',
 'fin_data/indivs14.txt',
 'fin_data/indivs90.txt',
 'fin_data/indivs92.txt',
 'fin_data/indivs94.txt',
 'fin_data/indivs96.txt',
 'fin_data/indivs98.txt']

In [15]:
# write a cands csv file
n=0
with open('fin_data/indivs_all.csv', 'w') as outfile:
    for fname in read_indivs:
        with open(fname, encoding = "ISO-8859-1") as infile:
            for line in infile:
                outfile.write(line)
                n+=1

In [16]:
n

23953687

In [18]:
indivs_all = pd.read_csv("fin_data/indivs_all.csv", quotechar='|', header= None)
np.shape(indivs_all)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,17,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(23953687, 23)

In [19]:
indivs_all.to_csv("fin_data/indivs_all.csv", index=False)
pd.read_csv("fin_data/indivs_all.csv").head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,17,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2000,3061920110006561518,e1110676533,"OLIVER, GEORGIANNA",N00005233,Metrocorp,NaN,F4500,10/19/1999,500,...,66206,DW,15,C00331066,NaN,F,20035100228,NaN,METROCORP,AYP99
1,2000,3061920110006561519,e1110933222,"TOWNSLEY, RUSSELL",N00005233,Premium Standard Farms,ContiGroup Companies,A3000,08/31/1999,500,...,66210,DW,15,C00331066,NaN,M,20035100228,NaN,CONTINENTAL GRAIN,PAC
2,2000,3061920110006561520,f0010621914,"EFFERTZ, HENRY",N00005233,Retired,NaN,X1200,10/22/1999,250,...,66208,DW,15,C00331066,NaN,M,20035100229,NaN,BEST EFFORT,Gen
3,2000,3061920110006561521,f0000101938,"WESTBROOK, DAVID",N00005233,Corporate Communications,NaN,G5000,11/17/1999,1000,...,66210,DW,15,C00331066,NaN,M,20035100229,NaN,CORPORATE COMMUNICATIONS,Gen
4,2000,3061920110006561522,f0010620683,"JOHNS, THOMAS H",N00005233,Retired,NaN,X1200,12/28/1999,250,...,66206,DW,15,C00331066,NaN,M,20035100229,NaN,RETIRED,Gen

## (d). pac_other

In [20]:
read_pac_other = glob.glob("fin_data/pac_other*.txt")
read_pac_other

['fin_data/pac_other00.txt',
 'fin_data/pac_other02.txt',
 'fin_data/pac_other04.txt',
 'fin_data/pac_other06.txt',
 'fin_data/pac_other08.txt',
 'fin_data/pac_other10.txt',
 'fin_data/pac_other12.txt',
 'fin_data/pac_other14.txt',
 'fin_data/pac_other90.txt',
 'fin_data/pac_other92.txt',
 'fin_data/pac_other94.txt',
 'fin_data/pac_other96.txt',
 'fin_data/pac_other98.txt']

In [21]:
# write a pac_other csv file
n = 0
with open('fin_data/pac_other_all.csv', 'w') as outfile:
    for fname in read_pac_other:
        with open(fname, encoding = "ISO-8859-1") as infile:
            for line in infile:
                outfile.write(line)
                n += 1

In [22]:
n

962677

In [23]:
pac_other_all = pd.read_csv("fin_data/pac_other_all.csv", quotechar='|', header= None)
np.shape(pac_other_all)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(962677, 24)

In [24]:
pac_other_all.to_csv("fin_data/pac_other_all.csv", index=False)
pd.read_csv("fin_data/pac_other_all.csv").head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,2000,1030820130013538907,C00027466,Cigna Corp,NaN,NaN,NaN,NaN,NaN,F3100,...,C00085316,RP,Z5100,A,M8,,9.902010e+10,18K,F3100,PAC
1,2000,1030820130013538908,C00027466,Food Marketing Institute,NaN,NaN,NaN,NaN,NaN,G2400,...,C00014555,RP,Z5100,A,M8,,9.902010e+10,18K,G2400,PAC
2,2000,1030820130013538909,C00027466,General Dynamics,NaN,NaN,NaN,NaN,NaN,D2000,...,C00078451,RP,Z5100,A,M8,,9.902010e+10,18K,D2000,PAC
3,2000,1030820130013538910,C00027466,Occidental Petroleum,NaN,NaN,NaN,NaN,NaN,E1110,...,C00083857,RP,Z5100,A,M8,,9.902010e+10,18K,E1110,PAC
4,2000,1030820130013538911,C00027466,Seaboard Corp,NaN,NaN,NaN,NaN,NaN,G2300,...,C00246736,RP,Z5100,A,M8,,9.902010e+10,18K,G2300,PAC

## (e.) pacs

In [25]:
read_pacs = glob.glob("fin_data/pacs*.txt")
read_pacs

['fin_data/pacs00.txt',
 'fin_data/pacs02.txt',
 'fin_data/pacs04.txt',
 'fin_data/pacs06.txt',
 'fin_data/pacs08.txt',
 'fin_data/pacs10.txt',
 'fin_data/pacs12.txt',
 'fin_data/pacs14.txt',
 'fin_data/pacs90.txt',
 'fin_data/pacs92.txt',
 'fin_data/pacs94.txt',
 'fin_data/pacs96.txt',
 'fin_data/pacs98.txt']

In [26]:
# write a pacs csv file
n = 0
with open('fin_data/pacs_all.csv', 'w') as outfile:
    for fname in read_pacs:
        with open(fname) as infile:
            for line in infile:
                outfile.write(line)
                n += 1

In [27]:
n

3506078

In [28]:
pacs_all = pd.read_csv("fin_data/pacs_all.csv", quotechar='|', header= None)
np.shape(pacs_all)

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3506078, 10)

In [29]:
pacs_all.to_csv("fin_data/pacs_all.csv", index=False)
pd.read_csv("fin_data/pacs_all.csv").head()

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9
0,2000,3062020110009922921,C00229203,N00002685,1000,08/24/2000,F3400,24K,D,H2GA08038
1,2000,3062020110011703950,C00105981,N00002577,1000,05/31/2000,F2100,24K,D,H6GA05217
2,2000,3062020110011902876,C00078451,N00006981,500,02/07/2000,D2000,24K,D,H4CA49032
3,2000,3062020110010365917,C00195263,N00006954,1000,07/27/2000,T1700,24K,D,H8CA41063
4,2000,3062020110011006932,C00108209,N00001849,500,06/19/2000,E1620,24K,D,H2MD05361

In [ ]:
# pacs_cols = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14"] 
# pacs_all = pd.read_csv("fin_data/pacs_all.csv", names=pacs_cols, header=None) #names=cands_cols, .reset_index()
# pacs_all = pacs_all.replace('\|', '', regex=True)
# pacs_all.columns = pacs_cols
# pacs_all.head()

# glob reads txt files + concat txt
# https://stackoverflow.com/questions/17749058/combine-multiple-text-files-into-one-text-file-using-python
# https://stackoverflow.com/questions/13613336/python-concatenate-text-files

# make pandas fill in NaN for the missing columns while reading the data
# https://stackoverflow.com/questions/15242746/handling-variable-number-of-columns-with-pandas-python

# error_bad_lines
# https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data

# add header to df
# https://stackoverflow.com/questions/34091877/how-to-add-header-row-to-a-pandas-dataframe